<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {% block style %}
  <style>
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
  </style>
  <link href="https://npmcdn.com/graphiql@latest/graphiql.css" rel="stylesheet">
  {% endblock style %}
  <script src="https://npmcdn.com/react@latest/dist/react.min.js"></script>
  <script src="https://npmcdn.com/react-dom@latest/dist/react-dom.min.js"></script>
  <script src="https://npmcdn.com/graphiql@latest/graphiql.min.js"></script>
  <title>{% block title %}GraphiQL{% endblock title %}</title>
  {% endblock head %}
</head>
<body>
  {% block body %}
  {% block body_loading %}Loading...{% endblock body_loading %}
  {% block body_script %}
  <script>
    const endpoint = {{ endpoint | json_encode | raw }}

    function graphQLFetcher(params) {
      {% block graphql_fetcher_headers %}
      var headers = {
        "Accept": "application/json",
        "Content-Type": "application/json",
      }
      {% endblock graphql_fetcher_headers %}

      return fetch(endpoint, {
        method: "post",
        headers: headers,
        body: JSON.stringify(params),
        credentials: 'include',
      }).then((res) => {
        return res.text()
      }).then((body) => {
        try {
          return JSON.parse(body)
        } catch (err) {
          return body
        }
      })
    }

    ReactDOM.render(
      React.createElement(GraphiQL, {
        fetcher: graphQLFetcher
      }),
      document.body
    )
  </script>
  {% endblock body_script %}
  {% endblock body %}
</body>
</html>
