parameters:
    overblog_graphql.default_resolver: [Overblog\GraphQLBundle\Resolver\Resolver, defaultResolveFn]
    overblog_graphql.type_class_namespace: "Overblog\\GraphQLBundle\\__DEFINITIONS__"

services:
    overblog_graphql.error_handler:
        class: Overblog\GraphQLBundle\Error\ErrorHandler
        public: false
        arguments:
            - ~
            - "@?logger"
            - []

    overblog_graphql.request_executor:
        class: Overblog\GraphQLBundle\Request\Executor
        arguments:
            - "@event_dispatcher"
            - "%kernel.debug%"
            - "@overblog_graphql.error_handler"
            - false
        calls:
            - ["setMaxQueryComplexity", ["%overblog_graphql.query_max_complexity%"]]
            - ["setMaxQueryDepth", ["%overblog_graphql.query_max_depth%"]]

    overblog_graphql.request_parser:
        class: Overblog\GraphQLBundle\Request\Parser

    overblog_graphql.request_batch_parser:
        class: Overblog\GraphQLBundle\Request\BatchParser

    overblog_graphql.schema_builder:
        class: Overblog\GraphQLBundle\Definition\Builder\SchemaBuilder
        public: false
        arguments:
            - "@overblog_graphql.type_resolver"
            - false

    overblog_graphql.type_resolver:
        class: Overblog\GraphQLBundle\Resolver\TypeResolver
        configurator: ["@overblog_graphql.resolver_configurator", "configureType"]
        arguments:
            -

    overblog_graphql.resolver_resolver:
        class: Overblog\GraphQLBundle\Resolver\ResolverResolver
        configurator: ["@overblog_graphql.resolver_configurator", "configureResolver"]

    overblog_graphql.mutation_resolver:
        class: Overblog\GraphQLBundle\Resolver\MutationResolver
        configurator: ["@overblog_graphql.resolver_configurator", "configureMutation"]

    overblog_graphql.access_resolver:
        class: Overblog\GraphQLBundle\Resolver\AccessResolver

    overblog_graphql.resolver_configurator:
        class: Overblog\GraphQLBundle\DependencyInjection\Configurator\ResolverConfigurator
        calls:
            - ["setContainer", ["@service_container"]]
            - ["addMapping", ["type", "%overblog_graphql.types_mapping%"]]
            - ["addMapping", ["resolver", "%overblog_graphql.resolvers_mapping%"]]
            - ["addMapping", ["mutation", "%overblog_graphql.mutations_mapping%"]]

    overblog_graphql.cache_expression_language_parser.default:
        class: Symfony\Component\ExpressionLanguage\ParserCache\ArrayParserCache
        public: false

    overblog_graphql.expression_language.default:
        class: Overblog\GraphQLBundle\ExpressionLanguage\ExpressionLanguage
        public: false
        arguments:
            - "@overblog_graphql.cache_expression_language_parser"
            - []
        calls:
            - ["setContainer", ["@service_container"]]

    overblog_graphql.cache_compiler:
        class: Overblog\GraphQLBundle\Generator\TypeGenerator
        arguments:
            - "%overblog_graphql.type_class_namespace%"
            - ["%overblog_graphql.resources_dir%/skeleton"]
            - "%kernel.cache_dir%/overblog/graph-bundle/__definitions__"
            - "%overblog_graphql.default_resolver%"
        calls:
            - ["addUseStatement", ["Symfony\\Component\\DependencyInjection\\ContainerInterface"]]
            - ["addUseStatement", ["Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface"]]
            - ["setExpressionLanguage", ["@overblog_graphql.expression_language"]]

    overblog_graphql.event_listener.classloader_listener:
        arguments:
            - "@overblog_graphql.cache_compiler"
        class: Overblog\GraphQLBundle\EventListener\ClassLoaderListener
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: load, priority: 255 }
            - { name: kernel.event_listener, event: console.command, method: load, priority: 255 }

    overblog_graphql.event_listener.request_file_listener:
        class: Overblog\GraphQLBundle\EventListener\RequestFilesListener
        arguments:
            - "@request_stack"
        tags:
            - { name: kernel.event_listener, event: graphql.executor.context, method: onExecutorContextEvent }
