<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->name('*.php')
    ->in([__DIR__.'/src', __DIR__.'/tests'])
;

return PhpCsFixer\Config::create()
    ->setRules(
        [
            '@Symfony' => true,
            'ordered_imports' => ['imports_order' => ['class', 'function', 'const']],
            'general_phpdoc_annotation_remove' => ['author', 'category', 'copyright', 'created', 'license', 'package', 'since', 'subpackage', 'version'],
            'fully_qualified_strict_types' => true,
            'single_line_throw' => false,
            'phpdoc_to_comment' => false,
            'no_superfluous_phpdoc_tags' => ['allow_mixed' => true],
            'global_namespace_import' => ['import_functions' => true, 'import_classes' => true, 'import_constants' => true],
        ]
    )
    ->setFinder($finder)
    ->setUsingCache(true)
;
