parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/GraphQLDumpSchemaCommand.php

		-
			message: "#^Binary operation \"\\.\" between '\\.' and \\(array\\<string\\>\\)\\|string\\|true results in an error\\.$#"
			count: 1
			path: src/Command/GraphQLDumpSchemaCommand.php

		-
			message: "#^Parameter \\#1 \\$schemaName of method Overblog\\\\GraphQLBundle\\\\Request\\\\Executor\\:\\:execute\\(\\) expects string\\|null, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/GraphQLDumpSchemaCommand.php

		-
			message: "#^Parameter \\#1 \\$name of method Overblog\\\\GraphQLBundle\\\\Request\\\\Executor\\:\\:getSchema\\(\\) expects string\\|null, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/GraphQLDumpSchemaCommand.php

		-
			message: "#^Parameter \\#1 \\$file of function file_put_contents expects string, \\(array\\<string\\>\\)\\|string\\|true given\\.$#"
			count: 1
			path: src/Command/GraphQLDumpSchemaCommand.php

		-
			message: "#^Parameter \\#1 \\$name of method Overblog\\\\GraphQLBundle\\\\Request\\\\Executor\\:\\:getSchema\\(\\) expects string\\|null, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ValidateCommand.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/AnnotationParser.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_get_contents expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/AnnotationParser.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/AnnotationParser.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$name\\.$#"
			count: 1
			path: src/Config/Parser/AnnotationParser.php

		-
			message: "#^Offset 'type' does not exist on array\\|string\\.$#"
			count: 2
			path: src/Config/Parser/AnnotationParser.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$description\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/DescriptionNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$directives\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/DirectiveNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$values\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/EnumNode.php

		-
			message: "#^Parameter \\#1 \\$node of static method Overblog\\\\GraphQLBundle\\\\Config\\\\Parser\\\\GraphQL\\\\ASTConverter\\\\FieldsNode\\:\\:toConfig\\(\\) expects GraphQL\\\\Language\\\\AST\\\\Node, object given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/FieldsNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$type\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\TypeNode\\:\\:\\$kind\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\TypeNode\\:\\:\\$name\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\TypeNode\\:\\:\\$type\\.$#"
			count: 2
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQLParser.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQLParser.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\(string, 'toConfig'\\) given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQLParser.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/XmlParser.php

		-
			message: "#^Parameter \\#1 \\$file of static method Symfony\\\\Component\\\\Config\\\\Util\\\\XmlUtils\\:\\:loadFile\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/XmlParser.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/YamlParser.php

		-
			message: "#^Parameter \\#1 \\$value of method Symfony\\\\Component\\\\Yaml\\\\Parser\\:\\:parse\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/YamlParser.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\(string\\|null, 'getAliases'\\) given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/AliasedPass.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\('Overblog…'\\|'Overblog…'\\|'Overblog…'\\|'Overblog…', 'parse'\\|'preParse'\\) given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/ConfigParserPass.php

		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/ConfigParserPass.php

		-
			message: "#^Parameter \\#1 \\$str of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/TypeGeneratorPass.php

		-
			message: "#^Parameter \\#2 \\$nodes of class GraphQL\\\\Error\\\\Error constructor expects GraphQL\\\\Language\\\\AST\\\\Node\\|\\(iterable\\<GraphQL\\\\Language\\\\AST\\\\Node\\>&Traversable\\)\\|null, array\\<GraphQL\\\\Language\\\\AST\\\\Node\\>\\|null given\\.$#"
			count: 1
			path: src/Error/ErrorHandler.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Error/UserErrors.php

		-
			message: "#^Array \\(array\\<Overblog\\\\GraphQLBundle\\\\Error\\\\UserError\\>\\) does not accept GraphQL\\\\Error\\\\UserError\\.$#"
			count: 1
			path: src/Error/UserErrors.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and Composer\\\\Autoload\\\\ClassLoader will always evaluate to false\\.$#"
			count: 1
			path: src/Generator/TypeGenerator.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$edges \\(array\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\) does not accept iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 1
			path: src/Relay/Connection/Output/Connection.php

		-
			message: "#^Cannot call method then\\(\\) on array\\|object\\.$#"
			count: 1
			path: src/Relay/Connection/Paginator.php

		-
			message: "#^Possibly invalid array key type \\(array\\|string\\|null\\)\\.$#"
			count: 1
			path: src/Relay/Mutation/InputDefinition.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Relay\\\\Mutation\\\\MutationFieldDefinition\\:\\:cleanMutateAndGetPayload\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Relay/Mutation/MutationFieldDefinition.php

		-
			message: "#^Possibly invalid array key type \\(array\\|string\\|null\\)\\.$#"
			count: 1
			path: src/Relay/Mutation/PayloadDefinition.php

		-
			message: "#^Parameter \\#1 \\$schema of static method Overblog\\\\GraphQLBundle\\\\Event\\\\ExecutorArgumentsEvent\\:\\:create\\(\\) expects Overblog\\\\GraphQLBundle\\\\Definition\\\\Type\\\\ExtensibleSchema, GraphQL\\\\Type\\\\Schema given\\.$#"
			count: 1
			path: src/Request/Executor.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(mixed, mixed\\) given\\.$#"
			count: 1
			path: src/Resolver/AbstractProxyResolver.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: src/Resolver/TypeResolver.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Transformer/ArgumentsTransformer.php

		-
			message: "#^Array \\(array\\<Symfony\\\\Component\\\\Validator\\\\Mapping\\\\PropertyMetadata\\>\\) does not accept Overblog\\\\GraphQLBundle\\\\Validator\\\\Mapping\\\\PropertyMetadata\\.$#"
			count: 1
			path: src/Validator/Mapping/ObjectMetadata.php

		-
			message: "#^Call to an undefined method ReflectionMethod\\|ReflectionProperty\\:\\:getValue\\(\\)\\.$#"
			count: 1
			path: src/Validator/Mapping/PropertyMetadata.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Tests\\\\Config\\\\Parser\\\\fixtures\\\\annotations\\\\Scalar\\\\GalaxyCoordinates\\:\\:parseValue\\(\\) should return DateTimeInterface but returns array\\<int, string\\>\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Scalar/GalaxyCoordinates.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$value\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Scalar/GalaxyCoordinates.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Tests\\\\Config\\\\Parser\\\\fixtures\\\\annotations\\\\Scalar\\\\GalaxyCoordinates\\:\\:parseLiteral\\(\\) should return DateTimeInterface but returns array\\<int, string\\>\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Scalar/GalaxyCoordinates.php

		-
			message: "#^Call to method setMethods\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 1
			path: tests/ExpressionLanguage/TestCase.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(mixed, 'with'\\) given\\.$#"
			count: 1
			path: tests/ExpressionLanguage/TestCase.php

		-
			message: "#^Call to method disableOriginalConstructor\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 1
			path: tests/ExpressionLanguage/TestCase.php

		-
			message: "#^Parameter \\#1 \\$exceptionMap of class Overblog\\\\GraphQLBundle\\\\Error\\\\ExceptionConverter constructor expects array\\<string, string\\>, array\\<string, array\\<string\\>\\> given\\.$#"
			count: 1
			path: tests/Error/ExceptionConverterTest.php

		-
			message: "#^Call to method disableOriginalConstructor\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 1
			path: tests/ExpressionLanguage/ExpressionFunction/GraphQL/ArgumentsTest.php

		-
			message: "#^Call to method getMock\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 4
			path: tests/ExpressionLanguage/ExpressionFunction/Security/GetUserTest.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpKernel\\\\KernelInterface\\:\\:isBooted\\(\\)\\.$#"
			count: 1
			path: tests/Functional/BootTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/CompileCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/DebugCommandTest.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/Command/DebugCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/GraphDumpSchemaCommandTest.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 2
			path: tests/Functional/Command/GraphDumpSchemaCommandTest.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Functional\\\\Command\\\\ValidateCommandTest\\:\\:\\$command \\(Overblog\\\\GraphQLBundle\\\\Command\\\\ValidateCommand\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Functional/Command/ValidateCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/ValidateCommandTest.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 5
			path: tests/Functional/Controller/GraphControllerTest.php

		-
			message: "#^Parameter \\#3 \\$message of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) expects string, string\\|false given\\.$#"
			count: 5
			path: tests/Functional/Controller/GraphControllerTest.php

		-
			message: "#^Parameter \\#3 \\$message of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/TestCase.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/TestCase.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/Upload/UploadTest.php

		-
			message: "#^Cannot call method getCursor\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Edge\\|false\\.$#"
			count: 1
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\> given\\.$#"
			count: 1
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Cannot access offset mixed on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 2
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 0 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 4
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 1 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 4
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 2 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 1
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 3 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 1
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$edges\\.$#"
			count: 2
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$pageInfo\\.$#"
			count: 2
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\:\\:\\$cursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\:\\:\\$node\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\:\\:\\$startCursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\:\\:\\$endCursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\:\\:\\$hasPreviousPage\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\:\\:\\$hasNextPage\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Edge\\:\\:\\$cursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Edge\\:\\:\\$node\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$startCursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$endCursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$hasPreviousPage\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$hasNextPage\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$extra\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Variable \\$.* in isset\\(\\) is never defined\\.$#"
			count: 21
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Undefined variable: .*$#"
			count: 3
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Call to an undefined method Murtukov\\\\PHPCodeGenerator\\\\OOPStructure::createConstructor.*$#"
			count: 1
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Parameter \\#1 \\$str of function ltrim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Array \\(array<Symfony\\\\Component\\\\Validator\\\\Mapping\\\\ClassMetadataInterface>\\) does not accept Symfony\\\\Component\\\\Validator\\\\Mapping\\\\MetadataInterface\\.$#"
			count: 1
			path: src/Validator/InputValidator.php