includes:
    - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - %currentWorkingDirectory%/lib/generator/src
    - %currentWorkingDirectory%/lib/generator/tests
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
