<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="OverblogGraphQLBundle Test Suite">
            <directory>./tests/</directory>
            <directory>./lib/generator/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <directory>./lib/generator/src</directory>
            <exclude>
                <directory>./src/Resources</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="100" />
    </php>

</phpunit>
