parameters:
    overblog_graphql_types.config: []

services:
    Overblog\GraphQLBundle\Executor\Executor: ~
    Overblog\GraphQLBundle\Request\Parser: ~
    Overblog\GraphQLBundle\Request\BatchParser: ~
    Overblog\GraphQLBundle\Definition\GlobalVariables: ~
    GraphQL\Executor\Promise\Adapter\SyncPromiseAdapter: ~
    Overblog\GraphQLBundle\Executor\Promise\Adapter\ReactPromiseAdapter: ~

    Overblog\GraphQLBundle\Request\Executor:
        arguments:
            - "@overblog_graphql.executor"
            - "@overblog_graphql.promise_adapter"
            - "@event_dispatcher"
            - '%overblog_graphql.default_resolver%'
        calls:
            - ["setMaxQueryComplexity", ["%overblog_graphql.query_max_complexity%"]]
            - ["setMaxQueryDepth", ["%overblog_graphql.query_max_depth%"]]

    Overblog\GraphQLBundle\Definition\Builder\SchemaBuilder:
        arguments:
            - '@Overblog\GraphQLBundle\Resolver\TypeResolver'
            - false

    Overblog\GraphQLBundle\Definition\Builder\TypeFactory:
        arguments:
            - '@Overblog\GraphQLBundle\Definition\ConfigProcessor'
            - '@Overblog\GraphQLBundle\Definition\GlobalVariables'

    Overblog\GraphQLBundle\Resolver\TypeResolver:
        calls:
            - ["setDispatcher", ["@event_dispatcher"]]
        tags:
            - { name: overblog_graphql.global_variable, alias: typeResolver }

    Overblog\GraphQLBundle\Transformer\ArgumentsTransformer:
        arguments:
            - "@?validator"
            - "%overblog_graphql_types.classes_map%"

    Overblog\GraphQLBundle\Resolver\ResolverResolver:
        tags:
            - { name: overblog_graphql.global_variable, alias: resolverResolver, public: false }

    Overblog\GraphQLBundle\Resolver\MutationResolver:
        tags:
            - { name: overblog_graphql.global_variable, alias: mutationResolver, public: false }

    Overblog\GraphQLBundle\Resolver\AccessResolver:
        arguments:
            - "@overblog_graphql.promise_adapter"

    Overblog\GraphQLBundle\ExpressionLanguage\ExpressionLanguage:
        arguments:
            - "@?overblog_graphql.cache_expression_language_parser"

    Overblog\GraphQLBundle\Generator\TypeGenerator:
        arguments:
            - "%overblog_graphql.class_namespace%"
            - ["%overblog_graphql.resources_dir%/skeleton"]
            - "%overblog_graphql.cache_dir%"
            - "%overblog_graphql_types.config%"
            - "%overblog_graphql.use_classloader_listener%"
            - ~
            - "%kernel.cache_dir%"
            - "%overblog_graphql.cache_dir_permissions%"
        calls:
            - ["addUseStatement", ['Overblog\GraphQLBundle\Definition\ConfigProcessor']]
            - ["addUseStatement", ['Overblog\GraphQLBundle\Definition\LazyConfig']]
            - ["addUseStatement", ['Overblog\GraphQLBundle\Definition\GlobalVariables']]
            - ["addImplement", ["Overblog\\GraphQLBundle\\Definition\\Type\\GeneratedTypeInterface"]]

            - ["setExpressionLanguage", ["@overblog_graphql.expression_language"]]

    Overblog\GraphQLBundle\Definition\ArgumentFactory:
        arguments:
            - '%overblog_graphql.argument_class%'
        tags:
            - { name: overblog_graphql.global_variable, alias: argumentFactory }

    Overblog\GraphQLBundle\Controller\GraphController:
        public: true
        arguments:
            - '@Overblog\GraphQLBundle\Request\BatchParser'
            - '@Overblog\GraphQLBundle\Request\Executor'
            - '@Overblog\GraphQLBundle\Request\Parser'
            - "%overblog_graphql.handle_cors%"
            - "%overblog_graphql.batching_method%"

    Overblog\GraphQLBundle\Definition\ConfigProcessor:
        arguments: [!tagged overblog_graphql.definition_config_processor]

    GraphQL\Executor\Promise\PromiseAdapter: "@overblog_graphql.promise_adapter"
